

@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
body{


    font-family: 'iranyekan_numbers','iranyekan';
    background-color: #202d36;
}


*{
    margin: 0;
    padding: 0;
}

.con{
    width: 90%;
     /*border: 1px solid darkred; */
    margin: 0 auto;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%  ;
    /*border: 1px solid darkslateblue;*/
    width:100%;
    gap: 25px;
    margin-top: 15px;
    list-style: none;
    align-items: center;
   /* border: 1px solid darkslateblue;*/
    justify-content: center;
    margin-top: 35px;

}

.grid img{
    max-width:100%;
    border-radius: 3px 3px 0 0;
    height: 100%;
}

 .grid li{
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
   /* border: 1px solid darkslateblue;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #2b3743;

}
.grid li label {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
 
 
.text {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
     
}
.h2{
    color: white;
    margin-bottom: 13px;
    font-size: 22px;
}
 
 
.box{
    /*border: 1px solid darkslateblue;*/
    border-radius:4px;
}


.img{
    width: 50%;
    height: 50%;
   /* border: 1px solid darkslateblue;*/
}
 
.heder{
    display: flex;
    justify-content: space-between;
    height: 55px;

}


.form-select {
    width: 15%;
    /* border-radius: 5px; */
    height: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-direction: row;
    margin-top: 35px;
}
.bot {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 24%;
    background-color: #2b3743;
    border: 0;
    border-radius: 4px;
    height: 40px;
}
 
 a{
    cursor: pointer;
    text-decoration: none;
    color: black;
 }
 .text{
    margin-right: 15px;
 }
 .p2{
    font-size: 18px;
}
 