

@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
body{


    font-family: 'iranyekan_numbers','iranyekan';
    background-color: #202d36;
}


*{
    margin: 0;
    padding: 0;
}

.con{
    width: 90%;
    /*border: 1px solid darkred;*/
    margin: 0 auto;
    height: auto;
}

 .cont{
    width: 90%;
     /*border: 1px solid darkred; */
    margin: 0 auto;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row; 
    gap: 50px;
 }

 .left{
 width: 45%;
 /*border: 1px solid darkblue;*/
 height: 322px;

 }

 .right{
    width: 50%;
    /*border: 1px solid firebrick;*/
    height: 295px;
    margin-top: 18px;
   
 }
 .d-felx{
    flex-direction: row;
    display: flex;
 }

 #h2{
    margin-bottom: 15px;
     color: white;
 }
 .rast{
    width: 50%;
    /*border: 1px solid darkblue;*/
 }
 .chap{
    width: 50%;
    /*border: 1px solid darkblue;*/
    margin-top: 85px;
 }
 .color{
    color: grey;
 }
 .d-flex{
   display: flex;
   flex-direction: row;
 }
 .row{
   display: flex;
   flex-direction: row;
   gap: 15px;
   width: 100%;
   margin-top: 40px;
 }
 .botn2{

   margin-top: 15px;
   width: 100%;
   height: 50px;
  /* border: 1px solid darkblue;*/
 }


.bot4 {
    padding: 9px 31px;
    background-color: #d4d4d4;
    /* box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 20%); */
    border: none;
    color: black;
    border-radius: 5px;
    margin-top: 14px;
    cursor: pointer;
}

.bot6{
    background-color: #d4d4d4;
    color: #6e7b84;
    width: 80px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
